* {
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
/*Start Nav*/
nav{
 min-height: 10vh;
 min-width: 100%;
 background-color:#f9d100;
 position: sticky;
 top: 0;
}

a .navbar-brand{
	min-height: 10rem;
}

.navbar img{
	white-space: normal;
	height: 5rem;
}

.nav-link{
	color: solid black;
	font-weight: 600;
	font-size: 1.5rem;
}
/*Nav End*/


/*Start Home*/
#home{
	 min-height: 100vh;
	 height: 83vh;
	 width: 100%;
	 background-color:#f9d100;
}

#home .row-2{
	width: 100%;
	position: relative;
}
#home .row-2 .text-1{
	width: 50%;
}
#home h1{
	font-size: 4rem;
	font-weight: 800;
}
#home h3{
	font-size: 2rem;
	font-weight: 600;
}

#home img{
	height: 20rem;
	width: 20rem;
}
#home button{
	background-color: #111111;
	border-radius: 150px;
}

/*Home End*/

/*Start About me*/

#about-me {
	padding:1rem;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 100vh;
}

#about-me h1{
	font-weight: 900;
	font-size: 2.5rem;
}
#about-me img{
	height: 25rem;
	width: 25rem;
}

#about-me .text{
	font-size: 1.5rem;
}

#about-me .text p{
	font-size: 1.5rem;
	text-orientation: sideways;
}
#about-me .socmed-item img{
	height: 2.5rem;
	width: 2.5rem;
	background-color: #f9d100;
	border-radius: 150px;
}
#about-me p{
	font-style: italic;
}
/*About Me End*/

/*Start projects*/

#projects{ 
	height: 100vh;
	width: 100%;
	background-color:#f9d100;
}
#projects h1{
	font-weight: 900;
	font-size: 2.5rem;
}

#projects .carousel-item img{ 
	height: 70vh;
	width:  70vh;
	background-color:#f9d100;
}



/*Projects End*/

/*Start Contact Me*/
.contact-me{
	min-width: 100%;
	min-height: 100vh;
}

.contact-me h1{
	font-weight: 900;
	font-size: 2.5rem;
}
.contact-me .row{
	position: relative;
	min-height:50%;
	padding: 0;

}
.contact-me .form{
	position: relative;
	height: 80vh;
}
.contact-me .form-contact{
	position: relative;
}
.contact-me .form-group{
font-size: 1rem;
padding: 0;
}

iframe{
    height: 25rem;
    width: 25rem;
}
/*Contact Me Ends*/

/*Start Footer*/
footer{
	background-color: #000000;
	width: 100%;
	min-height: 10vh;
}

footer .socmed-item img{
	height: 2rem;
	width: 2rem;
	background-color: #f9d100;
}
footer h4{
	background-color: #f9d100;

}